/* TODO:
* Afifi (or anyone else) feel free to change things in here as long as you
* notify the others first.
*/

/* NOTES ON COLOURS:
* get colours from palette1.css, palette2.css is also there if the team
* decides they don't like these colours.
*
* prim col 0:   main colour, use in for text.
* secn col 1 _: use however you want.
* secn col 2 _: use for navigation.
* comp col _:   use for background.
*/

html {
  font-size: 10px;
  font-family: 'Verdana', sans-serif;
  background-color: #888888;
}

body {
  width: 1080px;
  margin: 0 auto;
  background-color: #FFEEFF;
  padding: 0 80px 20px 80px;
  border: 5px solid black;
}

h1 {
  font-family: 'Courier New';
  font-size: 60px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  /* prim col 0 */
  color: #B536DA;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-family: 'Courier New';
  font-size: 40px;
  letter-spacing: 1px;
  color: #B536DA;
  text-shadow: 2px 2px 1px black;
}

h3 {
  font-size: 30px;
  color: #B536DA;
  text-shadow: 1px 2px 2px #000000;
}

h4 {
  font-size: 22px;
  color: #A526C0;
  text-shadow: 1px 1px 1px #000000;
}

p, li, label {
  text-align: justify;
  font-size: 18px;
  line-height: 2;
  color: #000000;
}

a {
  color: #BA3BDF;
}

nav {
  font-size: 24px;
  line-height: 3;
  letter-spacing: 1px;
  text-align: center;
  color: #A526C0;
}

table, th, td {
  border: 1px solid #A526C0;
  margin: auto;
  padding: auto;
  color: #B536DA;
}

img {
  border: 10px solid #ECFD38;
}

code {
  font-family: 'Courier New';
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #047AA1;
  padding: 2px 2px 2px 2px;
}

.block {
  margin: 0 54px auto;
  display: block;
  white-space: pre-wrap;
  padding: 0 6px 6px 6px;
  border: 5px solid #B536DA;
}
