html {
  font-family: "Poppins";
}
html .page-title {
  width: 75%;
  padding: 20px;
}
html span {
  color: #23b5d3;
}
html hr {
  margin: 5em;
}
html .page-title {
  font-size: 5em;
}
html .navi {
  margin: 5em;
  padding: 0;
}
html .boxes {
  scroll-snap-type: x mandatory;
  display: inline-block;
  font-size: 1.1em;
  margin-inline: 5em;
  color: black;
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
  gap: 10px;
  margin-inline: 10%;
}
html .boxes p {
  font-size: 1.4em;
  padding-top: 1em;
  color: white;
}
html .boxes a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  width: 100%;
}
html .boxes a:hover {
  color: #23b5d3;
  transition-duration: 0.1s;
}
html .boxes .empty {
  border-style: hidden;
  width: 20em;
  height: 19em;
}
html .boxes .development {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .refinment {
  background-color: black;
  width: 40em;
  border-color: white;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .languages {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .examples {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .eso {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .zein2 {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .prep {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .boxes .terms {
  background-color: black;
  border-color: white;
  width: 40em;
  height: 19em;
  padding: 10px;
  border: 5px solid gray;
  margin: 1em;
  text-align: center;
  border-width: 1px;
  border-radius: 1em;
  scroll-snap-align: center;
}
html .about-us-button {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}
html .about-us-button button {
  font-family: "Poppins";
  border-radius: 50px;
  border-style: groove;
  color: black;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  padding: 1.5em;
}
html footer {
  margin-inline: 5%;
}/*# sourceMappingURL=Home.css.map */