html {

    font-family: "Poppins";

    .page-title{

        width: 75%;
        padding: 20px;
    }

    span{

        color: #23b5d3;
    }

    hr{

        margin: 5em;
    }

    .page-title{

        margin-inline: 4%;
        font-size: 2em;

    }

    .page-title {

        
        padding: 0;

    }

    .boxes {

        scroll-snap-type: x mandatory;
        display: inline-block;
        font-size: 1.1em;
        margin-inline: 5em;
        color: black;

        display: grid;
        grid-auto-flow: column;
        overflow: auto;
        gap: 10px;
        margin-inline: 10%;

        
        p {
            
            font-size: 1.4em;
            padding-top: 1em;
            color: white;
            
        }
        
        a{
            text-decoration: none;
            color: white;
            display: block;
            font-size: 1.2em;
            height: 100%;
            width: 100%;
            
        }

        a:hover{

            color: #23b5d3;
            transition-duration: 0.1s;
        }

        .empty{

            border-style: hidden;
            width: 20em;
            height: 19em;
            
        }
        
        .development {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
            
            
        }
        .refinment {
            
            background-color: black;
            width: 40em;
            border-color: white;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .languages {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .examples {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .eso {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .zein2 {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .prep {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
        }
        .terms {
            
            background-color: black;
            border-color: white;
            width: 40em;
            height: 19em;
            padding: 10px;
            border: 5px solid gray;
            margin: 1em;
            text-align: center;
            border-width: 1px;
            border-radius: 1em;
            scroll-snap-align: center;
            
        }
        
    }
    
    .about-us-button{
        
        display: flex;
        justify-content: center;
        padding-bottom: 4em;

        button {
            
            font-family: "Poppins";
            border-radius: 50px;
            border-style: groove;
            color: black;
            background-color: white;
            text-align: center;
            text-decoration: none;
            font-size: larger;
            padding: 1.5em;

            a{
    
                text-decoration: none;
                color: black;
            }
        }


    }

    footer{
        margin-inline: 5%;
    }
}