html{

    margin: 10%;

    body {

        font-family: "Poppins";
        margin: 1.2em;
        color: #071013;

        a{

            color: #17798d;

        }

        .italicname{

            font-weight: bolder;
            color: #488c99;

        }

        span{

            color: #23b5d3;

        }

        p{

            font-size: 1.3em;
            color: #666666;

        }
        
        img{

            width: 50svh;

        }

        
    }

}