h1{
    font-family: 'poppins'; font-size: 40px;
}

body{
    font-family: 'poppins'; font-size: 22px;
}
table, th, td, tr {
    border: 2px solid black;
    height: 50px;
    text-align: center;
}
h4{
    color: rgb(38, 38, 139)
}
p{
    text-align:left ;
   
   
}